@import "tailwindcss";
@keyframes scrollPause {
  0% {
    transform: translateX(0%);
  }

  60% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scrollPause 5s ease-in-out infinite;
}